<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Cinzel-VariableFont_wght.ttf</string>
		<string>CinzelDecorative-Black.ttf</string>
		<string>CinzelDecorative-Bold.ttf</string>
		<string>CinzelDecorative-Regular.ttf</string>
		<string>Lora-Bold.ttf</string>
		<string>Lora-BoldItalic.ttf</string>
		<string>Lora-Medium.ttf</string>
		<string>Lora-SemiBold.ttf</string>
		<string>Lora-SemiBoldItalic.ttf</string>
		<string>Lora-MediumItalic.ttf</string>
		<string>Lora-Regular.ttf</string>
		<string>Lora-Italic.ttf</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Potion</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>gameHarry.ingredient</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
